.container	{
			margin: 0 auto;
			width: 750px;
		}
	
		#top {
			text-align: center;
			color:white;
			background:rgb(128, 212, 255);
			padding: 20px 0 20px 0; 
		}
		
	
		nav {
			float: left;
			background: rgb(26, 178, 255);
		}
		
		nav ul {
			margin: 0;
			padding: 0;
		}
		
		nav ul li {
			list-style-type: none;
			display: inline;
			text-align: center;
		}
		
		nav li a
		{
			display: block;
			float: left;
			padding: 5px 10px;
			padding-top: 20px;
			color: #fff;
			text-decoration: none;
			width: 150px;
			border: 1px solid white;
			height: 30px;
		}
		
		nav li a:hover {
			background-color: grey;
		}
		
		.content-container {
			float: left;
			width: 750px;
		}
		
		.main-content {
			float: left;
			color: rgb(77, 77, 77);
			margin: 10px 0 10px 0;
			background: rgb(26, 178, 255);
			height: 600px;
		}
		
		.main-content p {
			font-size: 15px;
		}
		
		.sub-content
		{
			float: right;
			width: 550px;
			text-align: center;
			height: 600px;
		}	
		.sub-content img {
			width: 530px;
		}

		#footer
		{
			clear: both;
			background:rgb(128, 212, 255);
			text-align: center;
			height: 75px;
		}
		#footer p {
			padding-top: 30px;
		}

		#top.news-top {
			padding: 10px 0 10px 0;
		}

		.sub-content.sub-content-news {
			text-align: left;
			height: 625px;
		}
        .main-content.main-content-news {
			height: 625px;
		}

        .sub-content.sub-content-gallery {
			height: 1500px;
		}
        .main-content.main-content-gallery {
			height: 1500px;
		}

        .main-content-gallery img{
            margin-top: 50px;
        }

        .main-content-gallery img#on-top{
            position: relative;
            top: -250px;
            z-index: 2;
            opacity: 0.75;
            width: 300px; 
        }
        .main-content.main-content-contact {
            height: 625px;
        }

        .sub-content.sub-content-contact {
			height: 625px;
            text-align: left;
		}

        .sub-content.sub-content.sub-content-contact p{
            padding-bottom: 90px;
        }