		body {
			padding-top: 10px;
		}
		
		form {
			padding: 25px;
			width: 400px;
			margin: auto;
			border: 1px solid rgb(67, 134, 242);
			border-radius: 5px;
			font-weight: bold;
		}
		
		label {
			text-align: left;
			width: 125px;
			float: left;
		}
		input {
			display: block;
			width: 175px;
			text-align: center;
		}
		
		#submit_button {
			width: 175px;
			margin: auto;
			margin-left: 125px;
			padding: 7px 0 7px 0; 
			background-color: rgb(67, 134, 242);
			opacity: .75;
			color: white;
			font-size: 16px;
			border: 1px solid;
			border-radius: 25px;
		
		}
		
		.form_2 {
			margin-top: 20px;
		}
		
		.form_2 select {
			margin-top: 10px;
		}

		
		.form_2 input{
			margin-top: 10px;
			
		}
		
	