
table {
	width: 600px;
	height: 650px;
	margin: auto;
	border: 2px solid rgb(0,0,0);
	border-collapse: collapse;
	position:fixed;
    margin-left:-300px; 
    margin-top:-325px;  
    top:50%;
    left:50%;
}

.head_cell {
	text-align: center;
	background-color: #333333;
	color: #b3b3b3;
}

.row_a {
	color: #333333;
}

.row_b {
	background-color: #333333;
	color: #ffffff;
}


td {
	padding: 20px;
	border-right: 1px solid rgb(0,0,0);
	text-align: center;
}

.col_headers td{
	font-weight: bold;
}